# Ignore Node.js files in frontend
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/yarn-error.log

# Ignore general OS files
.DS_Store
Thumbs.db

# Ignore log files
npm-debug.log
yarn-error.log
